{
  "extends": [
    "prettier",
    "airbnb-typescript",
    "prettier/@typescript-eslint"
    ],
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "env": {
    "jest": true,
      "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "project": "./tsconfig.eslint.json"
  },

  "rules": {
    "@typescript-eslint/explicit-function-return-type": ["error"],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.test.js", "**/*.spec.js"] }
    ],
    "@typescript-eslint/semi": ["error"],
    "import/prefer-default-export": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-props-no-spreading": 0,
    "no-plusplus": 0
  },
  "ignorePatterns": ["node_modules/*", "scripts/*"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx", ".js", ".jsx"]
    },
    "import/ignore": ["types"],
    "import/resolver": {
      "alias": []
    }
  }

}
