{
    // "parser": "@typescript-eslint/parser",
    "extends": [
        "../shared/.eslintrc",

    ],
    "plugins": [

    ],
    "env": {
    },
    "parserOptions": {
    },
    "rules": {
    },
    "ignorePatterns": [],
    "settings": {}
  }
  